name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Clean up disk space, so we don't run out.
        if: runner.os == 'Linux'
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc

      - name: Set up backend
        run: |
          docker compose pull
          docker compose up -d

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9.X'

      # Use actions-poetry to handle installation
      - name: Install Poetry and Dependencies
        uses: abatilo/actions-poetry@v4

      # Set Poetry to use an in-project virtual environment
      - name: Configure Poetry for in-project venv
        run: poetry config virtualenvs.in-project true

          # Poetry will handle installation and caching
      - name: Cache Python dependencies
        uses: actions/cache@v5
        id: cache-poetry-venv
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      # Install dependencies only if cache is missed
      - name: Install dependencies
        if: steps.cache-poetry-venv.outputs.cache-hit != 'true'
        run: poetry install --no-root

      # Run pytest and generate coverage report data.
      - name: Run Tests and Check Types
        run: |
          poetry run pytest tests/cda/ --doctest-modules --cov --cov-report=xml:out/coverage.xml
          poetry run mypy --strict cwms/

      - name: Generate Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: out/coverage.xml
          format: markdown
          output: both
          badge: true

      - name: Generate Job Summary
        uses: x-color/github-actions-job-summary@v0.1.1
        with:
          file: ./code-coverage-results.md
          vars: |-
            empty: empty
